h1{
    color: blue;
    font-size: 50px;
}
header{
    font-size: 100px;
    color: red;
    background-color: gold;
    border: 10px pink solid;
    padding: 50px 20px 40px;
    height: 100px;
    width: 100%;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    font-size: 25px;
    border: 10px red;
    padding: 10px 20px 10px;
}
a:hover{
    text-decoration: underline;
}
a li{
    display: inline;
    margin-right: 4vw;
}
img{
    font-size: 100px;
    color: blue;
}
h1{
    background-color: pink;
    border: 40px;
    padding: 40px 20px 30px;
}
header ul{
    position:absolute;
    right:5vw
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news{
    background-color: antiquewhite;
    color: wheat;
    height: 85vh;
    background-image: url(tupian/100%.png);
    background-repeat: no-repeat;
    background-position:center;
}
.news h2{
    font-size: 120px;
}
.news p{
    color: #fef7e6;
    margin: 25px 0;
}
.news a{
    text-decoration: none;
    border: 10px solid #acacac;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news{
    background-color: antiquewhite;
    color: wheat;
    height: 85vh;
    background-image: url(tupian/100%.png);
    background-repeat: no-repeat;
    background-position:center;
}
.no h2{
    font-size: 120px;
}
.no p{
    color: #fef7e6;
    margin: 25px 0;
}
.no a{
    text-decoration: none;
    border: 10px solid #acacac;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no a{
    font-size: 50px;
}
/* 响应式设计语法 */
@media screen and (max-width:768px){
    header ul{
        display: none;
    }
    header a{
        left:50%
        transform:translateX(-50%)
    }
}