h1{
    color: blue;
    font-size: 50px;
}
header{
    font-size: 100px;
    color: red;
    background-color: gold;
    border: 10px pink solid;
    padding: 50px 20px 40px;
    height: 100px;
    width: 100%;
}
nav{
    font-size: 45px;
    color: yellow;
    background-color: wheat;
    border: 10px pink;
    padding: 20px 10px 20px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    font-size: 25px;
    border: 10px red;
    padding: 10px 20px 10px;
}
a:hover{
    text-decoration: underline;
}
a li{
    display: inline;
    margin-right: 4vw;
}
img{
    font-size: 100px;
    color: blue;
}
h1{
    background-color: pink;
    border: 40px;
    padding: 40px 20px 30px;
}
header ul{
    position:absolute;
    right:5vw
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news{
    background-color: antiquewhite;
    color: wheat;
    height: 85vh;
    background-image: url(tupian/100%.png);
}